{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story9/css/style.css' %}" />

<title> Story 9 </title>
{% endblock meta %}

{% block content %}

<section class="wrapper">
    <div id="topend">
        <form method="POST">
            {% csrf_token %}
            <button id="logout-btn" type="submit">Logout</button>
        </form>
    </div>

    
    <div class="text-center">
        <h3 class="mtxt" id="greetings"> Hello {{ user.username }}! </h3>
        <hr class="mline">
    </div>
</section>

{% endblock content %}