{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story9/css/style.css' %}" />

<title> Login </title>
{% endblock meta %}

{% block content %}
<section class="wrapper">
    <h4>Log In</h4>
    <form class="app-form" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <br>
        <button type="submit" class="btn btn-success"> Log In </button>
    </form>
    <p>don't have an account yet? <a href="{% url 'story9:register' %}">register</a> </p> 
</section>
{% endblock content %}