{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story9/css/style.css' %}" />

<title> Story 9 </title>
{% endblock meta %}

{% block content %}
<section class="wrapper">
    <div class="text-center">
        <h6 class="mtxt" id="logged-out-msg"> You have been successfully logged out </h6>
        <hr class="mline">
        <p><a href="{% url 'story9:login' %}"> log back in</a></p>
    </div>
    
</section>
{% endblock content %}