{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story9/css/style.css' %}" />

<title> Register </title>
{% endblock meta %}

{% block content %}
<section class="wrapper">
    <h4>Register</h4>
    <form class="app-form" method="post">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        <br> <br>
        <button type="submit" class="btn btn-success"> Register </button>
    </form>
</section>
{% endblock content %}