{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story7/css/style.css' %}" />

<title> Story 7 </title>
{% endblock meta %}

{% block content %}

<section>

    <div class="acc-wrapper">

        <div class="accordion">
            <div class="acc-head">
                <button class="acc-btn"> Aktivitas saat ini </button>
                <button class="tralala up"> UP </button>
                <button class="tralala down"> DOWN </button>
            </div>
            <div class="acc-body">
                <div class="panel">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean odio odio, 
                        dictum id cursus sit amet, vestibulum a nunc. Vestibulum ac varius nisl, 
                        laoreet bibendum odio. Sed nec dignissim diam, in hendrerit arcu. Nulla 
                        elementum mi ac erat tempus, laoreet mattis nibh congue. Sed vehicula quam 
                        nec est aliquet rhoncus. Phasellus lacinia tristique congue. Suspendisse 
                        consequat eu purus eget porta. Morbi placerat dolor at lacus dictum vulputate. 
                        Vestibulum consequat sit amet est vitae placerat. Nulla nec sagittis risus. 
                        Sed volutpat ligula non ante ultrices cursus. Orci varius natoque penatibus 
                        et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="acc-head">
                <button class="acc-btn"> Pengalaman Organisasi </button>
                <button class="tralala up"> UP </button>
                <button class="tralala down"> DOWN </button>
            </div>
            <div class="acc-body">
                <div class="panel">
                    <p>
                        Nullam in ligula magna. Integer sollicitudin volutpat viverra. In hac habitasse 
                        platea dictumst. In in aliquam arcu. Curabitur interdum arcu id velit tempor 
                        mattis. Aliquam ornare nisi et lacus ullamcorper, nec porta urna efficitur. 
                        Vestibulum porttitor nec purus ut luctus. Fusce orci ipsum, ultricies quis 
                        tristique eget, eleifend faucibus nisl. Pellentesque habitant morbi tristique 
                        senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="acc-head">
                <button class="acc-btn"> Pengalaman Kepanitiaan </button>
                <button class="tralala up"> UP </button>
                <button class="tralala down"> DOWN </button>
            </div>
            <div class="acc-body">
                <div class="panel">
                    <p>
                        Nullam porttitor lobortis consequat. Fusce ullamcorper viverra mi, et accumsan 
                        urna tristique sit amet. Cras dictum id ex a pulvinar. Nam dapibus, nibh quis 
                        lobortis feugiat, erat velit faucibus sapien, a venenatis nisi purus sodales 
                        urna. Donec ultrices consequat enim vel consectetur. Morbi condimentum ipsum 
                        volutpat dui viverra, eget vehicula eros placerat. Aliquam viverra volutpat 
                        vestibulum. Suspendisse bibendum nec lorem ac finibus. In imperdiet vestibulum 
                        velit nec convallis. Donec rutrum ornare ex, a congue nunc lacinia vitae. Vivamus
                        consequat dapibus lectus, a aliquam nibh ullamcorper convallis. Quisque vulputate 
                        nisi eu facilisis tincidunt. Cras ultrices magna dolor, quis laoreet ante 
                        euismod nec. Morbi cursus consectetur vestibulum. Praesent egestas massa odio, 
                        dapibus vehicula nibh pellentesque sed.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="acc-head">
                <button class="acc-btn"> Prestasi </button>
                <button class="up tralala"> UP </button>
                <button class="down tralala"> DOWN </button>
            </div>
            <div class="acc-body">
                <div class="panel">
                    <p>
                        Etiam non tortor euismod, faucibus felis et, faucibus sem. Sed in nibh arcu. 
                        Nullam convallis nisl dui, in viverra nibh pharetra ut. Pellentesque sed 
                        posuere velit. Vivamus et magna porttitor, aliquet odio posuere, volutpat sem. 
                        Nam metus metus, ullamcorper et neque nec, tincidunt volutpat turpis. Duis nec 
                        dui ac tortor imperdiet eleifend faucibus ac sem. Vivamus dolor massa, aliquet 
                        in sapien sit amet, consectetur bibendum sapien. Suspendisse tempor ipsum sed 
                        nibh tincidunt, sed luctus dui blandit. Suspendisse semper sem nec tempus 
                        pretium. Maecenas fermentum enim felis, non vestibulum mi posuere ac. Nam id 
                        metus sagittis, lacinia risus vitae, facilisis felis. Proin consequat bibendum 
                        dolor
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="{% static 'story7/js/script.js' %}" type="text/javascript"></script>

{% endblock content %}