{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<title> Daftar </title>
{% endblock meta %}

{% block content %}

<section class="lg-fbg">

    <h3>Daftar</h3>
    <hr>
    
    <form class="form-group" method="POST">
        {% csrf_token %}
        <table>{{form}}</table>
        <input type="submit" class="btn btn-success hehe" value="Daftar">
    </form>
    <a href="{% url 'story6:kegiatan' %}" class="btn btn-danger hehe">Cancel</a>

</section>

{% endblock content %}