{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<title> Story 6 </title>
{% endblock meta %}

{% block content %}

<section class="lg-fbg">

    <h2>Kegiatan</h2>
    <hr>

    {% for kegiatan in list_kegiatan %}
    <div class="card obj-kegiatan" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ kegiatan.nama }}</h5>
          <p class="card-text"> Peserta: </p>
        </div>
        
        <ul class="list-group list-group-flush">
        {% for peserta in list_peserta   %}
            {% if peserta.Kegiatan == kegiatan %}
                <li class="list-group-item">{{ peserta.nama }}</li>
            {% endif %} 
        {% endfor %}
        </ul>
        <div class="card-body">
            <a href="{% url 'story6:form_peserta' id=kegiatan.id %}" class="card-link">Daftar</a>
        </div>
      </div>
    {% endfor %}
    <a href="{% url 'story6:form_kegiatan' %}" class="btn btn-dark hehe">Tambah kegiatan</a>

</section>

{% endblock content %}