/* Project-wide style */


/*=============== General Style ===============*/

* {
  margin: 0;
  padding: 0;
}

body { 
  height: 100%;
  font-family: Helvetica;
}

.stn-text-g {
  color: #2B4A44;
  font-weight: bold;
  font-size: 14   px;
}

/*Light grey background*/
.lg-bg { 
  height: auto;
  width: 100%; 
  padding-top: 0;
  padding-bottom: 25vh;
  background-color: #DCDCDC;
}

.lg-fbg { 
  background-color: #DCDCDC;
  height: 100vh;
  width: 100%; 
}

/*Dark grey background*/  
.dg-bg {
  height: auto;
  width: 100%; 
  padding-top: 0;
  padding-bottom: 25vh;
  background-color: #535353;
}

.pg-ttl-one {
  color: #2B4A44;
}

.pg-ttl-two {
  color: #f3f3f3;
}

.no-bullets {
  list-style-type: none;
}

.gen-form input, .site-form textarea {
  display: block;
}

.f-hr {
  border: 2px solid #535353;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/*=============== Navbar ===============*/

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar {
  background: #222222;
  padding: 0 !important;
}

.navbar-brand {
  padding-left: 15px;
  color: #f3f3f3 !important;
  font-weight: 700;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a{
  color: #f3f3f3 !important;
  font-weight: 650;
}

/*=============== Title Page Section ===============*/

#title-page {
  background-image: url('/static/img/title-bg-01.jpeg');

  height: 100vh;
  width: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #f3f3f3;
}

#title-objects {
  padding-top: 35vh;
  text-align: center;
  margin-right: auto;  
  margin-left: auto;  
}

#line-one {
  width: 40%;
  border: 2px solid #f3f3f3;
  margin-right: auto;  
  margin-left: auto;  
} 

.pg-ttl {
  margin-top: 10vh !important;
  text-align: center !important;
  font-weight: bold !important;
}

/*=============== About Me Section ===============*/

#am-content {
  padding-left: 15vh;
  padding-right: 15vh;
}

#line-two {
  width: 100%;
  border: 2px solid #535353;
  margin-top: 5vh;
  margin-bottom: 3vh;
  margin-right: auto;  
  margin-left: auto;  
}

#line-three {
  width: 90%;
  border: 2px solid #535353;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-right: 5vh;
  margin-left: 20vh; 
}

/*=============== Contact info Section ===============*/

#contact-info {
  padding-top: 0;

}

.icn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.icn img {
  width: 75px;
}

.icn-i {
  padding-left: 15px;
}

#c-content {
  align-items: center;
}

.social-acc {
  margin-top: 25px;
  margin-bottom: 25px;
}

#cotact-link {
  padding-left: 40px;
  padding-right: 40px;
}

.hehehe {
  align-content: center;
}

/*=============== Misc ===============*/

#misc-ttl {
  color: #2B4A44;
}

/*=============== Story 6 ===============*/

.obj-kegiatan {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-right: 15px;
}

.hehe {
  margin-top: 10px;
  margin-left: 15px;
}