{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Matkul</title>
{% endblock meta %}

{% block content %}

<h1>Mata Kuliah</h1>

<section id="list-matkul">

    <div class="matkul fluid-container">
        {% for matkul in list_matkul %}
        <h5> <a href="#"> {{ matkul.nama }} </a> </h5>
        <p> {{matkul.snippet}} </p>

        {% endfor %}   
    </div>

</section>

{% endblock content %}