{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Oxa - Story 1</title>
</head>

<body>
    <img src="{% static 'img/PP.jpg' %}" alt="pp" width="225px">

    <table>
        <tbody>
            <tr>
                <td>Nama</td>
                <td>:   Yasyfa Azkaa Wiwaha</td>
            </tr>
            <tr>
                <td>Panggilan</td>
                <td>:   Oxa</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>:   1906398465</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>:   2019</td>
            </tr>
            <tr>
                <td>Hobi</td>
                <td>:   Tidur</td>
            </tr>
        </tbody>
    </table>

    <p>Halo, kenalin gw oxa, seorang penikmat hidup. Saat ini gw sedang menikmati kehidupan gw 
        sebagai mahasiswa di Ilmu Komputer, Universitas Indonesia.
    </p>

    <p>Riwayat Pendidikan :</p>

    <table>
        <tbody>
            <tr>
                <td>SDI Al-Azhar 27 Cibinong</td>
                <td>:    2007-2013</td>
            </tr>
            <tr>
                <td>SMPN 8 Kota Bogor</td>
                <td>:    2013-2016</td>
            </tr>
            <tr>
                <td>SMAN 1 Kota Bogor</td>
                <td>:    2016-2019</td>
            </tr>
            <tr>
                <td>Ilmu Komputer, Universitas Indonesia</td>
                <td>:    2019 - Sekarang</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <p>Instagram : <a href="https://www.instagram.com/oxa.w/">@oxa.w</a></p>
        </li>
        <li>
            <p>Email : <a href="mailto:yasyfa.o@gmail.com">yasyfa.o@gmail.com</a></p>
        </li>
    </ul>

    <a href="{% url 'main:home' %}">Story 4</a>

</body>

</html>