body {
    min-height: 100vh;
    background-color: #f6f7d7;
}

#haha {
    margin: 30px;
    padding: 10px;
}

#sb-keyword {
    width: 35vh;
}

#ln-one {
    border: 2px solid #2B4A44;
}

#blist {
    margin: 10vh;
}