{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> Tambah Matkul </title>
{% endblock meta %}

{% block content %}

<section class="lg-fbg">

    <h3>Form Mata Kuliah</h3>

    <form class="gen-form" action="" method="POST">
        {% csrf_token %}
        <table>{{form}}</table>
        <input type="submit" name="Tambahkan">
    </form>

</section>

{% endblock content %}