{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> {{matkul.name}} </title>
{% endblock meta %}

{% block content %}

<section class="lg-fbg">

    <div class="matkul fluid-container">
        <h3>{{ matkul.nama }}</h3>
        <table>
            <tbody>
                <tr>
                    <td>Dosen</td>
                    <td> :    {{matkul.dosen}} </td>
                </tr>
                <tr>
                    <td>SKS </td>
                    <td> :    {{matkul.sks}} </td>
                </tr>
                <tr>
                    <td>Semester/Tahun</td>
                    <td> :    {{matkul.sem_th}} </td>
                </tr>
                <tr>
                    <td>Ruang kelas:</td>
                    <td> :    {{matkul.ruang}} </td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Deskripsi:</p> <br>
        <p> {{matkul.deskripsi}} </p> <br> <br>

        <a href="{% url 'matkul:update_matkul' matkul.id %}">Update</a> <br>
        <a href="{% url 'matkul:delete_matkul' matkul.id %}">Delete</a>

    </div>

</section>

{% endblock content %}