{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Matkul</title>
{% endblock meta %}

{% block content %}



<section class="lg-fbg">

    <h1 class="g-ttl-one">Mata Kuliah</h1>

    <hr class="f-hr">

    <div class="matkul fluid-container">
        {% for matkul in list_matkul %}
        <br>
        <h5> <a class="stn-text-g" href="{% url 'matkul:detail' slug=matkul.slug %}"> {{ matkul.nama }} </a> </h5>
        <br>
        {% endfor %}   
    </div>

    <a href="{% url 'matkul:create_matkul' %}">Tambahkan</a>

</section>



{% endblock content %}