body {
    height: auto;
    min-height: 100vh;
    background-color: #D6D6D6;
}

body * {
    font-family: 'Trebuchet MS', sans-serif;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper h4 {
    font-size: 2.2em;
    margin: 40px 0 auto auto;
}

.mtxt {
    margin: 35vh 0 auto auto;
}

#greetings {
    font-size: 2.2em;
}

#logged-out-msg {
    font-size: 1.6em;
}

.mline {
    width: 50%;
    border: 2px solid #f3f3f3;
    margin: 15px auto; 
}

#topend {
    margin-left: 100%;

}

#logout-btn {
    padding: 20px;
    background: none;
    border: 0;
    cursor: pointer;
}

/* FORMS */

.app-form {
    margin: 10px 20px 0 0;
    padding: 25px;
}

.app-form input, .app-form label {
    display: block;
    margin: 15px 5px 0 0;
}

.helptext, .helptext ul {
    margin: 0;
    color: #404040;
    font-size: 0.9em;
}