{% extends 'base_vanilla.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'story8/css/style.css' %}" />

<title> Story 8 </title>
{% endblock meta %}

{% block content %}

<section>
  <div id="haha">
    <h2 class="stn-text-g">Story 8</h2>
    <input class="form-control" id="sb-keyword" type="text">
  </div>
  
  <hr id="ln-one">

  <div id="blist"></div>

</section>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="{% static 'story8/js/script.js' %}" type="text/javascript"></script>

{% endblock content %}