{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href= "{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
<section id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'main:home' %}">Home</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:home' %}#about-me">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'main:home' %}#contact-info">Contact</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:miscellaneous' %}">Miscellaneous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story1:story1' %}">Story 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'matkul:matkul' %}">Mata Kuliah</a>
          </li>
        </ul>
      </div>
    </nav>
</section>
  {% block content %}
  {% endblock content %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
