{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story Oxa</title>
{% endblock meta %}

{% block content %}
<section id="title-page">
  <div id="title-objects">
      <h1>Oxa</h1>
      <hr id="line-one">
      <h3>Mantan anak kecil</h3>
  </div>

</section>

<section class="lg-bg" id="about-me">
  <div class="container">
      <div id="am-content">
          <div class="row">
              <div class="col-sm-12 pg-ttl"><h2 class="pg-ttl-one">About Me</h2></div>
          </div>
          <div class="row">
              <div class="col-sm-12"><hr id="line-two"></div>
          </div>
          <div class="row">
              <div class="col-sm-12 col-med-6 col-lg-4">
                  <img src="{% static 'img/pp-f.png' %}">
              </div>
              <div class="col-sm-12 col-med-6 col-lg-8 stn-text-g">
                      <p id="ab-me-txt">
                          <span class="h5"><b>Halo gue oxa!</b></span>
                          <br><br>
                          Gue adalah seorang penikmat hidup, yang sangat menikmati santai.
                          Saat ini gue sedang menikmati hidup sebagai mahasiswa di Ilmu Komputer, 
                          Universitas Indonesia.
                          <br><br>
                          Gue suka banyak hal di dunia ini, mulai dari yang simpel seperti makan
                          dan tidur, yang biasa seperti musik, baca, game, yang berat seperti ekonomi, politik, dan 
                          filsafat, dan banyak hal aneh lainnya.
                          <br><br>
                          Gue sedang mencari hal-hal baru untuk gue nikmati. Lu punya ide? Atau hanya mau ngbrol 
                          aja?(Ga bisa ngopi bareng, lagi pandemi) Atau mungkin mau ngajak mabar aja? Hubungi gue aja, 
                          contactnya di bawah.
                      </p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12"><hr id="line-three"></div>
          </div>
      </div>
  </div>
</section>

<section class="dg-bg" id="contact-info">
    <div class="container-fluid justify-content-center text-center">
        <div class="row">
            <div class="col-sm-12 pg-ttl">
                <h2 class="pg-ttl-two">Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 social-acc">
                <ul class="no-bullets">
                    <li class="icn">   
                        <a class="hehehe" href="mailto:yasyfa.o@gmail.com" target="_blank">
                             <img class="icn-i" src="{% static 'img/gmail.svg' %}" alt="email">
                             yasyfa.o@gmail.com
                        </a>
                    </li>
                    <li class="icn">
                        <a class="hehehe" href="https://www.instagram.com/oxa.w/" target="_blank">
                            <img class="icn-i"src="{% static 'img/instagram.svg' %}" alt="instagram">
                            @oxa.w
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 social-acc">
                <ul class="no-bullets">
                    <li class="icn">   
                        <a class="hehehe" href="https://discord.gg/VxEwJhR" target="_blank">
                             <img class="icn-i" src="{% static 'img/Discord-Logo-Color.svg' %}" alt="Discord">
                            TK Pelangi
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
