{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story-miscellaneous</title>
{% endblock meta %}

{% block content %}
<section id="misc-content" class="lg-bg">
    <div class="fluid container">
        <div class="row">
            <div class="col-sm-12 pg-ttl"><h1 id="misc-ttl">Comming soon</h1></div>
            <div class="col-sm-12"> <a href="https://oxa-story.herokuapp.com/story1/"> Story 1 </a> </div>
        </div>
    </div>
</section>
{% endblock content %}