.acc-wrapper {
  margin-top: 10vh;
  margin-left: 5%;
}

.acc-btn {
    background-color: #eee;
    color: #555555;
    cursor: pointer;
    padding: 18px;
    height: 10vh;
    width: 74%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .tralala {
    color: #555555;
    cursor: pointer;
    padding: 5px;
    width: 8%;
    height: 10vh;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    width: 74%;
    padding: 0 18px;
    background-color:#b0b0b0;
    display: none;
    overflow: hidden;
  }